/** Stately setup
*************************************/
@font-face {
  font-family: 'stately-webfont';
  src: url("../font/stately-webfont.eot");
  src: url("../font/stately-webfont.eot?#iefix") format("embedded-opentype"), url("../font/stately-webfont.woff") format("woff"), url("../font/stately-webfont.ttf") format("truetype"), url("../font/stately-webfont.svg#testfontRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.stately {
  font: normal normal 300px/100% "stately-webfont";
  font-size-adjust: none;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga" 1;
  -ms-font-feature-settings: "liga", "dlig";
  overflow: hidden;
  width: 300px;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.stately li {
  float: left;
  margin: -20% 0 0 -100%;
  position: relative;
  left: 101%;
  width: 100%;
  cursor: default;
  -webkit-transition: all 1s ease-in;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** Style customizations
*************************************/
.stately {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  border-top: 1px solid #dddddd;
}

#election {
  color: #00aeef;
}
#election .ar,
#election .la,
#election .hi,
#election .ak,
#election .az,
#election .mt,
#election .nd,
#election .ri,
#election .tx,
#election .ca,
#election .id,
#election .wy,
#election .ks,
#election .nj,
#election .nv{
  color: #9be1b9;
}

#election .co,
#election .il,
#election .ky,
#election .mi,
#election .ut,
#election .in,
#election .sd,
#election .ma,
#election .vt,
#election .ny,
#election .ok,
#election .wa,
#election .me,
#election .ne,
#election .nh,
#election .nm,
#election .oh { 
  color: #4acb81;}

#election .ct,
#election .mn,
#election .sc,
#election .va,
#election .wi,
#election .ia,
#election .mo,
#election .pa,
#election .tn,
#election .ga,
#election .fl,
#election .nc,
#election .al,
#election .de,
#election .ms,
#election .or,
#election .wv,
#election .md {
  color: #319c5e;}

  <style type='text/css'>
  .wax-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .wax-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .wax-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
  .wax-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
  .wax-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .wax-legend a {
    color: #777;
    }
</style>